@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

header #titre {
  font-weight: 900;
  font-family: 'Water Brush', cursive;
  letter-spacing: 5px;
}

header .name {
  /* border: 1px white solid; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .name img {
  width: 50px;
}

header .list-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .list-menu ul li {
  width: 200px;
  text-align: center;
}

header .list-menu ul a {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 900;
  font-family: 'Water Brush', cursive;
  font-size: 20px;
}

header .list-menu ul a:hover {
  color: yellow;
}

header .reseau ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .reseau ul li {
  width: 110px;
  text-align: center;
}

header .reseau ul img {
  width: 30px;
}

.page {
  width: 100%;
  height: 70vh;
  background: url("../assets/img.jpg");
  background-position: center;
  background-size: cover;
  -webkit-animation: back 16s ease-in-out infinite;
          animation: back 16s ease-in-out infinite;
}

.page .button {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .button #bnt {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  font-size: 2.5vw;
  background: rgba(255, 255, 255, 0.685);
  border-radius: 500px;
  padding: 15px 100px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
}

@-webkit-keyframes back {
  0%, 100% {
    background: url("../assets/img.jpg");
    background-position: center;
    background-size: cover;
  }
  25% {
    background: url("../assets/img2.jpg");
    background-position: center;
    background-size: cover;
  }
  50% {
    background: url("../assets/img3.jpg");
    background-position: center;
    background-size: cover;
  }
  75% {
    background: url("../assets/img4.jpg");
    background-position: center;
    background-size: cover;
  }
}

@keyframes back {
  0%, 100% {
    background: url("../assets/img.jpg");
    background-position: center;
    background-size: cover;
  }
  25% {
    background: url("../assets/img2.jpg");
    background-position: center;
    background-size: cover;
  }
  50% {
    background: url("../assets/img3.jpg");
    background-position: center;
    background-size: cover;
  }
  75% {
    background: url("../assets/img4.jpg");
    background-position: center;
    background-size: cover;
  }
}

.page2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.page2 .grid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 70%;
  height: 80vh;
}

.page2 .grid div {
  background-color: red;
}

.page2 .grid #div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.page2 .grid #div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 2 / 5;
}

.page2 .grid #div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.page2 .grid #div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 2 / 2 / 3 / 5;
}

.page2 .grid #div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 3 / 1 / 4 / 5;
}

footer {
  background: black;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #copyright .name-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #copyright .name-copy img {
  width: 20px;
}
/*# sourceMappingURL=style.css.map */