@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
*,::after,::before{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    position: sticky;
    top: 0%;
    & #titre{
        font-weight: 900;
        font-family: 'Water Brush', cursive;
        letter-spacing: 5px;
    }
    & .name{
        /* border: 1px white solid; */
        display: flex;
        align-items: center;
        & img{
            width: 50px;
        }
    }
    & .list-menu{
        & ul{
            & li{
                width: 200px;
                text-align: center;
            }
            display: flex;
            align-items: center;
            & a{
                text-align: center;
                color: rgba(255, 255, 255, 0.8);
                text-decoration: none;
                font-weight: 900;
                font-family: 'Water Brush', cursive;
                font-size: 20px;
            }
            & a:hover{
                color: yellow;
            }
        }
    }
    & .reseau{
        & ul{
            & li{
                width: 110px;
                text-align: center;
            }
            display: flex;
            align-items: center;
            & img{
                width: 30px;
            }
        }
    }
}
.page{
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    animation: back 10s ease-in-out infinite;
    & .button{
        backdrop-filter:blur(10px);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & #bnt{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.8);
            font-weight: 900;
            font-size: 2.5vw;
            background: rgba(255, 255, 255, 0.685);
            border-radius: 500px;
            padding: 15px 100px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
        
        }
    }
}
@keyframes back {
    0%,100%{
        background: url("../assets/img.jpg");
        background-position: center;
        background-size: cover;
    }
    25%{
        background: url("../assets/img2.jpg"); 
        background-position: center;
        background-size: cover;
    }
    50%{
        background: url("../assets/img3.jpg"); 
        background-position: center;
        background-size: cover;
    }
    75%{
        background: url("../assets/img4.jpg"); 
        background-position: center;
        background-size: cover;
    }
    
}
.page2{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;

    & .grid{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        width: 70%;
        height: 80vh;
        & div{
            background-color: red;
        }
        & #div1 { 
            grid-area: 1 / 1 / 2 / 3; 
        }
        & #div2 {
            grid-area: 1 / 3 / 2 / 5; 
        }
        & #div3 { 
            grid-area: 2 / 1 / 3 / 2; 
        }
        & #div4 { 
            grid-area: 2 / 2 / 3 / 5; 
        }
        & #div5 { 
            grid-area: 3 / 1 / 4 / 5; 
        }
    }
}
footer{
    background: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    & #copyright{
        display: flex;


        & .name-copy{
            display: flex;
            align-items: center;
            & img{
                width: 20px;
            }
        }

    }
}


